{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block content %}

    <h1 class="about-title">About Me</h1>

    <div class="content">

        <div class="text-block">
            <p>Hi, my name is Javohir 👋. I am a Python developer and currently studying at Tashkent State Technical University. I have strong knowledge of <strong>Python</strong>, <strong>Django</strong>, <strong>DRF</strong>, and <strong>SQL</strong>. I enjoy building projects that solve real-world problems.</p>

            <p>Besides programming, I’m also interested in <em>energy engineering</em>, history, and filmmaking. I believe in constant learning and always strive to improve myself.</p>

            <blockquote>
                “Code is like humor. When you have to explain it, it’s bad.” – Cory House
            </blockquote>

            <h2>My Goals</h2>
            <p>In 2025, my main goal is to master programming deeply and become financially independent without relying on my parents.</p>
        </div>

        <div class="image-block">
            <img src="" alt="My photo">
        </div>

    </div>

{% endblock content %}